! CONFIG RXVT-UNICODE

URxvt*.transparent: true

! DE 0 A 99 PARA TER O FUNDO MAIS ESCURO, DE 101 A 200 PARA TER O FUNDO MAIS CLARO
URxvt*.shading: 31

! PARA DESATIVAR A BARRA DE ROLAGEM DO urxvt
URxvt.scrollBar: false
URxvt*scrollTtyOutput: False
URxvt*scrollTtyKeypress: True
URxvt*secundaryScroll: True
URxvt*saveLines : 8000

!! black
!URxvt.color0  : #2E2E34343636
!URxvt.color8  : #555557575353
!! red
!URxvt.color1  : #CCCC00000000
!URxvt.color9  : #EFEF29292929
!! green
!URxvt.color2  : #4E4E9A9A0606
!URxvt.color10 : #8A8AE2E23434
!! yellow
!URxvt.color3  : #C4C4A0A00000
!URxvt.color11 : #FCFCE9E94F4F
!! blue
!URxvt.color4  : #34346565A4A4
!URxvt.color12 : #72729F9FCFCF
!! magenta
!URxvt.color5  : #757550507B7B
!URxvt.color13 : #ADAD7F7FA8A8
!! cyan
!URxvt.color6  : #060698209A9A
!URxvt.color14 : #3434E2E2E2E2
!! white
!URxvt.color7  : #D3D3D7D7CFCF
!URxvt.color15 : #EEEEEEEEECEC
!
!URxvt*foreground: white
!URxvt*background: black
*background: #111314
*foreground: #B7BBB7
! black
*color0: #2C2F33
*color8: #4B5056
! red
*color1: #B04C50
*color9: #B04C50
! green
*color2: #919652
*color10: #94985B
! yellow
*color3: #E2995C
*color11: #E2995C
! blue
*color4: #66899D
*color12: #66899D
! magenta
*color5: #8D6494
*color13: #8D6494
! cyan
*color6: #527C77
*color14: #527C77
! white
*color7: #606360
*color15: #DDE3DC

! 32
URxvt.depth : 100

! FONTS
! Run "fc-list" to list all available fonts
URxvt.font: xft:Iosevka:pixelsize=17
emacs.font: xft:Iosevka:pixelsize=17

! CLICKABLE URLS
! URxvt;matcher.rend.0 Uline Bold fg5
! URxvt.colorUL: #4682B4
! URxvt*letterSpace: -1

URxvt.perl-ext-common: default,resize-font,matcher,selection-to-clipboard,clipboard,tabbled
!You can also configure the number of steps to take when changing the font size:
!URxvt.resize-font.step: 2i
!URxvt.resize-font.smaller: C-j
!URxvt.resize-font.bigger:  C-k

!URxvt.urlLauncher: sensible-browser
!URxvt.matcher.button: 1

! Turn on/off ISO 14755 (default enabled).
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.tabbed.tabbar-fg: 5
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 14
URxvt.tabbed.tab-bg: 0

